.computerContainer {
    display: flex;
    align-items: center; justify-content: end;
    z-index: var(--html-z);
    position: absolute;
    right: 0; top: 0;
    width: 100vw; height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.8));
}
.computerWrapper {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    gap: 1rem;
    width: 50%; height: 100%;
}
.computerWrapper strong {
    font-size: 3rem;
    letter-spacing: .1rem;
}
.computerWrapper > ul {
    display: flex; flex-direction: column;
    align-items: center;
    width: 80%;
}
.computerWrapper > ul li {
    width: 100%; 
    border-bottom: 1px solid white;
    position: relative;
    padding: .8rem 2.2rem;
    padding-right: 0px;
}
.computerWrapper > ul li:last-child { border: none; }
.data {
    width: 100%; display: flex;
    align-items: center; justify-content: space-between;
}
.data .name {
    display: flex; flex-direction: column;
    gap: .2rem;
    font-size: 1.4rem;
    flex: 1;
}
.data .name span {
    font-size: .8rem;
    font-style: italic;
    padding-left: .2rem;
}
.data .links {
    display: flex; flex-direction: column;
    width: 10rem;
}
.data .links a {
    transform: translate(30px, 20px);
    opacity: 0;
    pointer-events: none;
    text-decoration: none;
    transition: all ease .2s;
    display: flex; gap: .5rem;
    align-items: center;
}
.data .links img {
    height: 1rem;
    filter: brightness(1.8);
}
.tech-imgs {
    position: absolute;
    top: 50%; right: 0;
    height: 2.2rem;
    transform: translate(0%, -50%);
    display: flex; 
    gap: .5rem;
}
.tech-imgs img { 
    height: 100%; 
}