/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
    --font-sans: 'Open Sans', sans-serif;
    --font-slab: 'Playfair Display', serif;

    --heading: #8f8;
    --para: #777;
    --para-tint: #e4e4e4;
    --third: #fff;
    --helper: #8f8;
    --helper-tint: #f3f4ff;
    --bg: #070717;
    --gradient: linear-gradient(90deg, #8490ff 0%, rgb(98 189 252) 100%);
    --shadow: rgba(0,0,0,.5); 
    --shadow-support: 0px 0px 20px 0px rgb(132 144 255 / 30%)
} */
/* * {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: var(--font-sans);
}
html {
    font-size: 62.5%;
}
h1, h2, h3 {
    font-family: var(--font-slab);
}
h1 {
    color: var(--heading);
    font-size: 8rem;
    font-weight: 400;
}
h3 {
    font-size: 1.8rem;
    font-weight: 400;
}
h4 {
    line-height: 1.6; 
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--helper);
}
p {
    color: var(--para);
    line-height: 1.6; 
    font-size: 1.7rem;
}
a { text-decoration: none; }
li { list-style: none; }
strong {
    color: var(--helper);
}


/* ==============================================
HEADER SECTION START
============================================== */
/*.header {
    padding: 0 4.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-between; align-items: center;
}
.header .nav-title {
    font-size: 2.8rem;
    font-weight: 500;
}
.navbar-list {
    display: flex;
    gap: 4.8rem;
}
.navbar-link:link, 
.navbar-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500rem;
    text-transform: uppercase;
    color: black;
    font-family: sans-serif;
    transition: all 0.3s linear;
}
.navbar-link:hover, .navbar-link:active {
    color: var(--helper);
} */

/* ==============================================
REUSEABLE CODE SECTION START
============================================== */
/*.section { padding: 9rem 0; }
.grid {
    display: grid;
    gap: 9rem;
}
.grid-two-col { grid-template-columns: repeat(2, 1fr); }
.grid-three-col { grid-template-columns: repeat(3, 1fr); }
.grid-four-col { grid-template-columns: repeat(4, 1fr); }
.container {
    max-width: 140rem;
    margin: 0 auto;
}
.btn {
    padding: 0.8rem 1.8rem;
    border: none;
    color: var(--helper);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border: 2px solid var(--helper);
    border-radius: 10rem;
    overflow: hidden;
    position: relative;
    background:none;
    z-index: 0;
}
.btn::before {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 200%; width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: translateY(-100%);
    background-color: var(--helper);
    z-index: -1;
}
.btn:hover, .btn:active {
    transform: translateY(-0.5rem);
    box-shadow: 0px 1rem 1rem var(--shadow);
    color: var(--helper-tint);
    text-shadow: 0px .5rem .5rem var(--shadow);
}
.btn:hover::before {
    transform: translate(0, 0);
}
.common-heading {
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;
}
.common-heading::before {
    content: '';
    position: absolute;
    left: 0%; top: 110%;
    width: 1.5rem; height: 1.5rem;
    background-color: var(--helper);
    border-radius: 50%;
}
.common-heading::after {
    content: '';
    position: absolute;
    top: calc(110% + 1.5rem/2 - 0.3rem/2);
    left: 1.5rem;
    min-width: 30rem; height: 0.3rem;
    background-color: var(--helper);
}
.para-highlight { 
    color: var(--helper);
    font-weight: bold;
} */
/* ==============================================
HERO SECTION START
============================================== */
.section-hero {
    background-color: var(--bg);
}
.section-hero-data {
    display: flex; flex-direction: column;
    justify-content: center;
}
.hero-heading {
    text-transform: uppercase;
    font-weight: 700;
    size: 6.4rem;
}
.hero-top-data {
    color: var(--para);
}
.hero-para {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}
/* =================== HERO SECTION ICONS =================== */

/* ==============================================
EDUCATION SECTION START
============================================== */
.edu-btn {
    margin-top: 5rem;
}
.section-education {
    position: relative;
    background-image: url("../images/nitj-pic.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    transform: all 0.7s linear;
}
.section-education::after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: white;
    opacity: .85;
}
.section-education>div {
    position: relative;
    z-index: 1;
    text-shadow: 0px 0px 3px white;
}
/* =================== education canvas ================ */

/* ==============================================
PROJECTS SECTION START
============================================== */
.section-portfolio {
    background: var(--bg);
    transition: all 0.7s linear;
}
.section-portfolio p {
    max-width: 60rem;
}
.p-btns {
    display: flex;
    align-items: center; justify-content: center;
    gap: 3.2rem;
    margin: 6.4rem 0;
}
.portfolio-images {
    gap: 3.2rem;
}
.portfolio-images img {
    width: 100%;
    aspect-ratio: 1.5;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}
.image-overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.image-overlay .overlay {
    position: absolute;
    top: 0;left: 0;
    width: 100%; height: 100%;
    background: var(--gradient);
    opacity: 0;
    display: flex;
    align-items: center; justify-content: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
}
.image-overlay:hover .overlay {
    transform: translateY(0%);
    opacity: 0.75;
}
.image-overlay .common-heading {
    margin: 0;
    color: var(--helper-tint);
    text-decoration: none;
}
.image-overlay .common-heading::before, .image-overlay .common-heading::after { width: 0; height: 0; }
.p-btn-active {
    transform: translateY(-0.6rem);
}
.p-image-not-active {
    display: none;
}

/* ==============================================
WORK DATA SECTION START
============================================== */
.section-work-data {
    background: var(--gradient);
    text-align: center;
    transition: all 0.7s linear;
    color: var(--helper-tint);
}
.counter-numbers {
    font-size: 4.8rem;
}
.section-work-data p {
    color: var(--helper-tint);
    text-transform: capitalize;
}

/* ==============================================
SERVICE SECTION SECTION START
============================================== */
.section-services {
    transition: all 0.7s linear;
}
.section-services p {
    max-width: 60rem;
}
.section-services .grid {
    margin-top: 10rem;
    row-gap: 10rem;
}
.service-box {
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 6.4rem 3.4rem;
    transition: all 0.2s linear;
}
.service-box:hover, .service-box:active {
    transform: translateY(-3rem);
}
.service-box h3 {
    color: var(--heading);
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.service-icon {
    width: 8rem; height: 8rem;
    background: rgb(144 172 209 / 20%); /*better to save as variable*/
    display: inline-block;
    padding: 1rem;
    border-radius: 30%;
    position: relative;
    overflow: auto !important;
}
.service-icon::after{
    content: '';
    position: absolute;
    left: 0; right: 0;
    bottom: 0; top: 0;
    border: 2px solid var(--para);
    border-radius: 30%;
    transform: scale(0.9) rotate(20deg);
}