:root {
    --bg-tint: #edefff;
    --bg: #f9f9ff;

    --accent: #88f;

    --accent-1: #7a7ae6;
    --accent-2: #6d6dcc;
    --accent-3: #5f5fb3;
    --accent-4: #525299;
    --accent-5: #444480;
    --accent-6: #363666;
    --accent-7: #29294c;
    --accent-8: #1b1b33;
    --accent-9: #0e0e19;
    --accent-f: #000000;
    --shadow: rgba(0,0,0,.5); 

    --font-slab: 'DM Serif Display', serif;
    --font-sans: 'Inter', sans-serif;
}
