@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;500&display=swap');
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: var(--font-sans);
    color: var(--accent-7);
}
body {
    background-color: var(--bg);
    min-height: 100vh;
}
html { font-size: 62.5%; }
h1, h2, h3 { font-family: var(--font-slab); }
h1 {
    color: var(--accent);
    font-size: 8rem;
    font-weight: 400;
}
h3 {
    font-size: 1.8rem;
    font-weight: 400;
}
h4 {
    line-height: 1.6; 
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--accent-3);
}
p {
    line-height: 1.6; 
    font-size: 1.7rem;
}
a { text-decoration: none; }
li { list-style: none; }
strong {
    color: var(--accent-1);
}

/* ==============================================
REUSEABLE CODE SECTION START
============================================== */
.section { padding: 0rem 9rem; }
.grid {
    display: grid;
    gap: 9rem;
}
.grid-two-col { grid-template-columns: repeat(2, 1fr); }
.grid-three-col { grid-template-columns: repeat(3, 1fr); }
.grid-four-col { grid-template-columns: repeat(4, 1fr); }
.container {
    max-width: 140rem;
    margin: 0 auto;
}
.btn {
    padding: 0.8rem 1.8rem;
    border: none;
    color: var(--accent);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border: 2px solid var(--accent);
    border-radius: 10rem;
    overflow: hidden;
    position: relative;
    background:none;
    z-index: 0;
}
.btn::before {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 200%; width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: translateY(-100%);
    background-color: var(--accent);
    z-index: -1;
}
.btn:hover, .btn:active {
    transform: translateY(-0.5rem);
    box-shadow: 0px 1rem 1rem var(--shadow);
    color: var(--bg);
    text-shadow: 0px .5rem .5rem var(--shadow);
}
.btn:hover::before {
    transform: translate(0, 0);
}
.common-heading {
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;
}
.para-highlight { 
    color: var(--accent-3);
    font-weight: bold;
}
