/* ==============================================
HEADER SECTION START
============================================== */
.header {
    padding: 0 4.8rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between; align-items: center;
    background-color: var(--bg-tint);
    position: relative;
    z-index: 100;
}
.header .nav-title {
    font-size: 3.2rem;
    font-weight: 500;
}
.navbar-list {
    display: flex;
    gap: 3.2rem;
}
.navbar-link:link, 
.navbar-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500rem;
    text-transform: capitalize;
    font-family: sans-serif;
    transition: all 0.3s linear;
    padding: .4rem 1rem;
    border: none;
    font-weight: normal;
    color: var(--accent-7);
}
.navbar-link:hover, .navbar-link:active { color: var(--bg-tint); }

.custom-shape-divider-top-1704997192 {
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 99;
    position: relative;
}

.custom-shape-divider-top-1704997192 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 53px;
    filter: drop-shadow(0rem -1rem 3rem var(--accent-f));
}

.custom-shape-divider-top-1704997192 .shape-fill {
    fill: var(--bg-tint);
}

.cut-out {
    padding: .4rem 1.6rem;
    border-radius: 2rem;
    background-color: var(--bg);
    box-shadow: .8rem .6rem 1rem var(--shadow) inset,
        -1.1rem -.9rem 1.1rem #fff inset;
}
.nav-wrap {
    position: absolute;
    width: 100%;
}