<%- include("partial/header.ejs") %>
<!-- ===========================================
        hero section
=========================================== -->

    <main>
        <section class="section section-hero">
            <div class="container grid grid-two-col">
                <!-- data -->
                <div class="section-hero-data">
                    <h1 class="hero-heading text-fade-in">Tarush Gupta</h1>
                    <h4 class="hero-top-data"><!--<strong>Java</strong>,--><strong>Android</strong> and <strong>Web</strong> Developer</h4>
                    <p class="hero-para">A passionate IT student at NIT Jalandhar. I find immense joy in the artistic side of coding, witnessing the transformation of lines of code into visually stunning apps, websites and machines.</p>
                    <div>
                        <a href="" class="btn btn-hireme">Hire me</a>
                    </div>
                </div>
                <!-- image -->
               
            </div>
        </section>
    </main>


<!-- ===========================================
        Education section
=========================================== -->
    <section class="section section-education">
        <div class="container grid grid-two-col">
            <!-- education img -->
            <div class="section-edu-image"></div>
            <!-- edu data -->
            <div class="edu-data">
                <h2 class="common-heading">Education and Courses</h2>
                <p>
                    I am currently pursuing <span class="para-highlight"> Bachelor of Technology in Information Technology </span> at Dr. B. R. Ambedkar NIT Jalandhar, anticipating graduation in 2026 with a GPA of 7.70.
                </p><br><br>
                <p>
                    Beyond my formal education, I've actively engaged in online courses, including <span class="para-highlight"> DSA in Java </span> (Alpha Course by Apna College), <span class="para-highlight"> Android Development </span> (Oak Academy on Udemy), <span class="para-highlight"> Basic Arduino Coding </span>(self-paced learning on YouTube), and <span class="para-highlight"> Web Development </span> (Udemy Course by Dr. Angela Yu). These experiences reflect my commitment to both academic excellence and continuous self-improvement, enriching my skill set across various domains.
                </p>
                <div class="edu-btn">
                    <a href="" class="btn">Download CV</a> <!--CV is resume-->
                </div>
            </div>
        </div>
    </section>

    <!-- ===========================================
        PROJECTS SECTION
    ============================================ -->
    <section class="section section-proj-webd">
        <div class="container grid grid-two-col">
            <div class="project-webd-data">
                <h2 class="common-heading">Education and Courses</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sed nam illo!</p>
                <a href="" class="btn">Repo Link</a>
            </div>
        </div>
        <div class="web-img"></div>
    </section>

    <section class="section section-proj-android">
        <div class="container grid grid-two-col">
            <div class="project-android-data">
                <h2 class="common-heading">Education and Courses</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sed nam illo!</p>
                <a href="" class="btn">Repo Link</a>
            </div>
            <div class="andro-img"></div>
        </div>
    </section>

    <!-- ===========================================
        Curriculum Activities SECTION
    ============================================ -->
    <section class="section section-proj-android">
        <div class="container grid grid-two-col">
            <div class="project-android-data">
                <h2 class="common-heading">Education and Courses</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sed nam illo!</p>
                <a href="" class="btn">Repo Link</a>
            </div>
        </div>
    </section>
<%- include("partial/footer.ejs") %>