<%- include("partial/header.ejs") %>
<main id="container-hero">
    <div class="container-flex">
        <span class="big-title">Tarush Gupta</span>
        <span><a href="#">Java</a>, <a href="#">Android</a> and <a href="#">Web</a> Developer</span>
        <span>A passionate IT student at NIT Jalandhar. I find immense joy in the artistic side of coding, witnessing the transformation of lines of code into visually stunning apps, websites and machines.</span>
    </div>
    <div id="phone-image">
        <span>{ }</span>
        <div id="phoneCover">
            <div id="notch">
                <div id="camera"></div>
            </div>
            <div id="screen">
                <img src="#" alt="Profile Picture">
            </div>
        </div>
    </div>
</main>
<%- include("partial/footer.ejs") %>