<%- include("partial/header.ejs") %>

<style>
    .testContainer {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background-color: blue;
    }
    /* .testContainer svg path { */
        /* fill: white; */
    /* } */
</style>
<div class="testContainer">
<!-- <svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="hero-svg">
    <defs>
        <pattern id="img1" patternUnits="userSpaceOnUse" width="900" height="600">
            <image href="images/hero.jpeg" x="0" y="0" width="900" height="600" />
        </pattern>
    </defs>
    <g transform="translate(459.30070574211277 300.01365976703573) scale(2)">
        <path
            d="M135.5 -228.6C176.4 -211.1 210.7 -176.3 243.7 -135.3C276.7 -94.3 308.4 -47.2 298 -6C287.6 35.2 235.2 70.3 198.7 105.4C162.3 140.5 141.9 175.5 111.5 205.4C81 235.3 40.5 260.1 4.6 252.1C-31.3 244.1 -62.5 203.3 -105.9 180.8C-149.4 158.4 -205 154.5 -242.9 127.4C-280.8 100.3 -300.9 50.2 -311.6 -6.2C-322.3 -62.5 -323.5 -125 -295.4 -169C-267.3 -213 -209.9 -238.6 -155.8 -248.3C-101.7 -258.1 -50.8 -252 -1.8 -249C47.3 -246 94.7 -246 135.5 -228.6"
            fill="url(#img1)"
        ></path>
    </g>
</svg> -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" version="1.1" baseProfile="full" class="hero-svg">
    <title>Text Pattern Fill Example</title>
    <defs>
        <pattern id="img1" patternUnits="userSpaceOnUse" width="600" height="900">
            <image xlink:href="daisy-grass-repeating-background.jpg" x="0" y="0" width="600" height="900"/>
        </pattern>
    </defs>
    <path 
    d="M135.5 -228.6C176.4 -211.1 210.7 -176.3 243.7 -135.3C276.7 -94.3 308.4 -47.2 298 -6C287.6 35.2 235.2 70.3 198.7 105.4C162.3 140.5 141.9 175.5 111.5 205.4C81 235.3 40.5 260.1 4.6 252.1C-31.3 244.1 -62.5 203.3 -105.9 180.8C-149.4 158.4 -205 154.5 -242.9 127.4C-280.8 100.3 -300.9 50.2 -311.6 -6.2C-322.3 -62.5 -323.5 -125 -295.4 -169C-267.3 -213 -209.9 -238.6 -155.8 -248.3C-101.7 -258.1 -50.8 -252 -1.8 -249C47.3 -246 94.7 -246 135.5 -228.6"
    fill="url(#img1)"/>
        
<script xmlns=""/></svg>
</div>