.creditsContainer {
    position: absolute;
    width: 100vw; height: 100vh;
    top: 0; left: 0;
    background-image: radial-gradient(circle farthest-corner at center, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, .8));
    z-index: var(--html-z);
}
.creditsWrapper {
    display: flex;
    align-items: center; justify-content: space-between;
    height: 100%; width: 100%;
}
.creditsWrapper .left, .creditsWrapper .right {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    border: 1px solid red;
    height: 100%; width: 35%;
}