@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary: black;
  --accent: #FFE26C;
  --black: black;
  --white: white;
}

html {
  font-size: 12px;
  background-color: var(--accent);
  animation: change-bgcol ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 100%;
}

section {
  padding: 0rem 15rem;
  background-color: transparent;
}
ul {
  list-style-type: none;
}

@keyframes change-bgcol {
  0% {background-color: var(--accent);}
  35% {background-color: var(--accent);}
  40% {background-color: var(--black);}
  100% {background-color: var(--black);}
}