<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarush Gupta</title>
    <link rel="stylesheet" href="style/base_LIGHT.css">
    <!-- <link rel="stylesheet" href="style/navbar.css"> -->
    <!-- <link rel="stylesheet" href="style/home.css"> -->
</head>
<body>
    <header class="header">
        <h3 class="nav-title">Tarush Gupta</h3>
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a href="" class="navbar-link home-link">Home</a></li>
                <li><a href="" class="navbar-link about-link">About</a></li>
                <li><a href="" class="navbar-link services-link">Services</a></li>
                <li><a href="" class="navbar-link portfolio-link">Portfolio</a></li>
                <li><a href="" class="navbar-link contact-link">Contact</a></li>
            </ul>
        </nav>
    </header>