<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarush Gupta</title>
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href="style/home.css">
</head>
<body>
